In [22]:
import pandas as pd
import numpy as np
import seaborn as sns
##Vous pouvez générer un dataset de type moon avec par exemple

##data = datasets.make_moons(n_samples=n_samples, noise=0.05)

In [23]:
##et de type circle (cercle) avec 
##data = datasets.make_circles(n_samples=n_samples, factor=0.5, noise=0.05)

In [24]:
## En résumé
##Les gains de performance potentiels sont obtenus en travaillant sur les données d'entraînement.

##Scikit-learn offre de multiples fonctions pour créer des jeux de données de classification.

##Si l'on n'y prête pas attention, un modèle de prédiction peut reproduire des à-prioris nuisibles

In [25]:
#df= pd.read_csv("paris.csv")

In [26]:
#df.head()

In [27]:
df = df[df.libelle_francais == 'Platane'].copy()

In [28]:
df.head()

,idbase,domanialite,arrondissement,complement_adresse,numero,lieu_adresse,idemplacement,libelle_francais,genre,espece,variete_oucultivar,circonference_cm,hauteur_m,stade_de_developpement,remarquable,geo_point_2d
3,238226,Alignement,PARIS 12E ARRDT,37,NaN,AVENUE DE SAINT MANDE,000501020,Platane,Platanus,x hispanica,NaN,30.0,5.0,Jeune (arbre),NON,"48.84515461889761, 2.4008303350818525"
9,289464,Alignement,PARIS 12E ARRDT,NaN,NaN,AVENUE LEDRU ROLLIN,000402007,Platane,Platanus,x hispanica,NaN,60.0,10.0,Adulte,NON,"48.84717970255216, 2.37017013054543"
10,221701,Alignement,PARIS 16E ARRDT,NaN,NaN,BOULEVARD DE L AMIRAL BRUIX,000705007,Platane,Platanus,x hispanica,NaN,68.0,10.0,Jeune (arbre)Adulte,NON,"48.87428152523608, 2.2783797113253454"
11,227024,Alignement,PARIS 19E ARRDT,59,NaN,RUE DAVID D ANGERS,000901019,Platane,Platanus,x hispanica,''Pyramidalis'',30.0,5.0,Jeune (arbre),NON,"48.881527844507275, 2.395607068367473"
17,285387,Alignement,PARIS 10E ARRDT,face à peugeot à gauche des wc,NaN,RUE DU FAUBOURG SAINT MARTIN,001301027,Platane,Platanus,x hispanica,NaN,53.0,8.0,Adulte,NON,"48.878100132217135, 2.3616292876411995"

In [29]:
cond = (df.stade_de_developpement.isna()) & (df.hauteur_m > 20) & (df.circonference_cm > 200)
df[cond].shape

(22, 16)

In [30]:
cond = (df.stade_de_developpement.isna()) & (df.hauteur_m < 8) & (df.circonference_cm < 50)
df[cond].shape

(2903, 16)

In [32]:
df = df[(df.circonference_cm < 1000) & (df.hauteur_m < 100)].copy()

In [33]:
from scipy import stats
df['z_circonference'] = stats.zscore(df.circonference_cm)
df['z_hauteur'] = stats.zscore(df.hauteur_m)

In [34]:
import numpy as np
iqr = np.quantile(df.hauteur_m, q=[0.25, 0.75])
limite_basse = iqr[0] - 1.5*(iqr[1] - iqr[0])
limite_haute = iqr[1] + 1.5*(iqr[1] - iqr[0])

In [35]:
pd.qcut(df.hauteur_m, 3, labels=["petit", "moyen", "grand"]).value_counts()

petit    17875
moyen    12568
grand    12142
Name: hauteur_m, dtype: int64

In [36]:
pd.cut(df.hauteur_m, 3, labels=["petit", "moyen", "grand"]).value_counts()

petit    40058
moyen     2524
grand        3
Name: hauteur_m, dtype: int64

In [37]:
#"X_normalized = (X - X_min) / (X_max - X_min)

NameError: name 'X' is not defined

In [38]:
#X_standardized = (X - X_mean) / X_stddev

In [39]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df['hauteur_standard'] = scaler.fit_transform(df.hauteur_m.values.reshape(-1, 1))
df['circonference_standard'] = scaler.fit_transform(df.circonference_cm.values.reshape(-1, 1))

In [40]:
df['circonference_log'] = np.log(df.circonference_cm + 1)
df['hauteur_log'] = np.log(df.hauteur_m + 1)

In [41]:
   # Pour remédier aux valeurs manquantes, nous pouvons les remplacer par des valeurs arbitraires ou en fonction des valeurs de la variable en question.

    #Pour détecter les valeurs aberrantes, on utilise la méthode du z-score ou de IQR.

    #Et pour remédier aux valeurs aberrantes, nous pouvons discréditer la variable ou forcer une valeur maximum.

    #Enfin, pour les variables d'amplitude nous pouvons les normaliser, les standardiser ou prendre leur logarithme.

In [ ]:
####Transformez les variables pour faciliter l’apprentissage du modèle