In [35]:
import pandas as pd
import numpy as np

In [36]:
df= pd.read_csv('advertising.csv')

In [42]:
df.head()

      tv  radio  journaux  ventes
0  230.1   37.8      69.2    22.1
1   44.5   39.3      45.1    10.4
2   17.2   45.9      69.3     9.3
3  151.5   41.3      58.5    18.5
4  180.8   10.8      58.4    12.9

In [43]:
df.describe()

               tv       radio    journaux      ventes
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [44]:
df.corr()

                tv     radio  journaux    ventes
tv        1.000000  0.054809  0.056648  0.782224
radio     0.054809  1.000000  0.354104  0.576223
journaux  0.056648  0.354104  1.000000  0.228299
ventes    0.782224  0.576223  0.228299  1.000000

In [45]:
from sklearn.linear_model import LinearRegression
##reg = LinearRegression()

In [46]:
reg= LinearRegression()

In [47]:
##Cette fois-ci, on va scinder notre dataset en une partie d'entraînement et une partie d'évaluation 
##en utilisant la fonction train_test_split de scikit-learn.

##    X_train  : prédicteurs pour l'entraînement ;

 ##   X_test  : prédicteurs pour l'évaluation ;

 ##   y_train  : variable cible pour l'entraînement ;

 ##   y_test  : variable pour l'évaluation.

In [48]:
##X_train  et  y_train  pour entraîner le modèle (train en anglais) ;

##X_test  et  y_test  pour l'évaluer (test en anglais)

In [49]:
##cela donne
from sklearn.model_selection import train_test_split
#x = df[['tv','radio','journaux']]
#y = df.ventes

#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [50]:
x=df[['tv','radio','journaux']]
y= df['ventes']

In [51]:
x_train,x_test,y_train,y_test= train_test_split(x,y, test_size=0.20, random_state=42)

In [52]:
x.shape

(200, 3)

In [53]:
y.shape

(200,)

In [54]:
x_train

        tv  radio  journaux
79   116.0    7.7      23.1
197  177.0    9.3       6.4
38    43.1   26.7      35.1
24    62.3   12.6      18.3
122  224.0    2.4      15.6
..     ...    ...       ...
106   25.0   11.0      29.7
14   204.1   32.9      46.0
92   217.7   33.5      59.0
179  165.6   10.0      17.6
102  280.2   10.1      21.4

[160 rows x 3 columns]

In [55]:
x_test

        tv  radio  journaux
95   163.3   31.6      52.9
15   195.4   47.7      52.9
30   292.9   28.3      43.2
158   11.7   36.9      45.2
128  220.3   49.0       3.2
115   75.1   35.0      52.7
69   216.8   43.9      27.2
170   50.0   11.6      18.4
174  222.4    3.4      13.1
45   175.1   22.5      31.5
66    31.5   24.6       2.2
182   56.2    5.7      29.7
165  234.5    3.4      84.8
78     5.4   29.9       9.4
186  139.5    2.1      26.6
177  170.2    7.8      35.2
56     7.3   28.1      41.4
152  197.6   23.3      14.2
82    75.3   20.3      32.5
68   237.4   27.5      11.0
124  229.5   32.3      74.2
16    67.8   36.6     114.0
148   38.0   40.3      11.9
93   250.9   36.5      72.3
65    69.0    9.3       0.9
60    53.5    2.0      21.4
84   213.5   43.0      33.8
67   139.3   14.5      10.2
125   87.2   11.8      25.9
132    8.4   27.2       2.1
9    199.8    2.6      21.2
18    69.2   20.5      18.3
55   198.9   49.4      60.0
75    16.9   43.7      89.4
150  280.7   13.9      37.0
104  238.2   34.3       5.3
135   48.3   47.0       8.5
137  273.7   28.9      59.7
164  117.2   14.7       5.4
76    27.5    1.6      20.7

In [56]:
y_train

79     11.0
197    12.8
38     10.1
24      9.7
122    11.6
       ...
106     7.2
14     19.0
92     19.4
179    12.6
102    14.8
Name: ventes, Length: 160, dtype: float64

In [57]:
y_test

95     16.9
15     22.4
30     21.4
158     7.3
128    24.7
115    12.6
69     22.3
170     8.4
174    11.5
45     14.9
66      9.5
182     8.7
165    11.9
78      5.3
186    10.3
177    11.7
56      5.5
152    16.6
82     11.3
68     18.9
124    19.7
16     12.5
148    10.9
93     22.2
65      9.3
60      8.1
84     21.7
67     13.4
125    10.6
132     5.7
9      10.6
18     11.3
55     23.7
75      8.7
150    16.1
104    20.7
135    11.6
137    20.8
164    11.9
76      6.9
Name: ventes, dtype: float64

In [58]:
##Le terme random_state est un paramètre qui permet de contrôler la reproductibilité des résultats 
##lorsque vous effectuez des opérations qui impliquent de l'aléatoire, comme par exemple scinder les données en
##sous-ensembles de train et test.

In [59]:
##En fixant une valeur spécifique pour random_state, vous vous assurez que les 
##opérations aléatoires se déroulent toujours de la même manière. Les résultats sont 
##reproductibles et vous pouvez comparer différents modèles.

In [60]:
##On entraîne le modèle :

In [61]:
reg.fit(x_train,y_train)

LinearRegression()

In [62]:
##Pour estimer la performance sur le sous-ensemble de test, il faut tout d'abord obtenir les prédictions pour  X_test

In [63]:
y_pred_test=reg.predict(x_test)

In [64]:
##On peut maintenant calculer l'écart entre les vraies valeurs de test  (y_test)  et celles prédites par le modèle.

#Utilisons la RMSE et la MAPE comme scores. Pour ces 2 métriques, un score plus petit correspond à un meilleur modèle.
## MAPE est comprise entre 0 et 1, tandis que RMSE n'est pas contrainte.

In [65]:
from sklearn.metrics import mean_squared_error, mean_absolute_percentage_error

In [66]:
print(f"RMSE: {mean_squared_error(y_test, y_pred_test)}")

RMSE: 3.1740973539761064

In [67]:

print(f"MAPE: {mean_absolute_percentage_error(y_test, y_pred_test)}")

MAPE: 0.1519884660283123

In [68]:
#Est-ce un bon ou un mauvais score ?
#Difficile à dire, comme la RMSE n'est pas absolue. Une MAPE de 0,15 semble bien, car plus proche de 0 que de 1.
#Mais peut-on faire mieux ?

### Amélioration n° 1 : Ajouter un terme quadratique

In [69]:
###scikit-learn offre différentes méthodes pour normaliser ou standardiser des variables.
##Créons la nouvelle variable tv2 = tv^2

In [70]:
df['tv2']=df.tv**2

In [71]:
##Normalisons l'amplitude en utilisant MinMaxScaler qui force les variables entre 0 et 1.

##Dans sklearn, appliquer un "Scaler" consiste à :

##1. L'importer :

In [72]:
from sklearn.preprocessing import MinMaxScaler

In [73]:
##2. Le créer (l'instancier) :

In [74]:
scaler = MinMaxScaler()

In [75]:
##3. Le  fit()  sur les données (le scaler calcule alors les min et max des variables) :

In [76]:
scaler.fit(df)

MinMaxScaler()

In [77]:
##4. Et enfin transformer les données :

In [78]:
data_array = scaler.transform(df)

In [79]:
##La méthode  transform  retourne un  array  et non une dataframe. Pour une question de simplification des scripts,
##je vais recréer la dataframe df :

In [80]:
df = pd.DataFrame(data_array, columns = ['tv','radio','journaux','ventes','tv2'])

In [81]:
##Les étapes 3 et 4 peuvent être concentrées en utilisant la méthode  fit_transform()  , ce qui donne :

In [82]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data_array = scaler.fit_transform(df)
df = pd.DataFrame(data_array,
      columns = ['tv','radio','journaux','ventes','tv2'])

In [83]:
##À ce stade, df ne contient que des valeurs entre 0 et 1.

In [84]:
df.describe().loc[['min','max']]

      tv  radio  journaux  ventes  tv2
min  0.0    0.0       0.0     0.0  0.0
max  1.0    1.0       1.0     1.0  1.0

In [85]:
##Notre régression linéaire est maintenant une régression polynomiale grâce à la présence du terme quadratique  tv2  . 
##Entraînons-la.

In [86]:
X = df[['tv','radio','journaux', 'tv2']]
y = df.ventes

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

reg.fit(X_train, y_train)
y_hat_test = reg.predict(X_test)

print(f"Coefficients: {reg.coef_}")
print(f"RMSE: {mean_squared_error(y_test, y_hat_test)}")
print(f"MAPE: {mean_absolute_percentage_error(y_test, y_hat_test)}")

Coefficients: [ 0.88007136  0.37464292  0.02197664 -0.36578279]
RMSE: 0.0036863988616064637
MAPE: 0.16200182799935664

In [87]:
##On note une nette amélioration par rapport au premier modèle.

In [88]:
## EN RESUMÉ,

In [89]:
##La régression linéaire est un modèle simple pour prédire des valeurs continues en fonction de variables prédictives.

In [90]:
#On évalue les performances du modèle en utilisant des métriques telles que RMSE et MAPE.

In [91]:
##La normalisation des variables permet de lier les coefficients de la régression linéaire au poids relatif 
#des prédicteurs.

In [92]:
##Il est important de s'assurer que la relation entre la variable cible et les prédicteurs est 
##linéaire avant d'utiliser la régression linéaire.

In [93]:
##La régression polynomiale permet de capturer des relations non linéaires entre les variables
##en ajoutant des termes quadratiques ou d'ordre supérieur.

In [94]:
#L'utilisation de  train_test_split  permet de diviser les données en sous-ensembles d'entraînement et 
#de test pour évaluer le modèle.

In [ ]:
##Le choix du paramètre  random_state  affecte la reproductibilité des résultats lors de la séparation
##des données en sous-ensembles.