In [26]:
# Import Python libraries for data manipuation and visualization
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

# Import the Python machine learning libraries we need
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score



# Import some convenience functions.  This can be found on the course github
##from functions import *

In [1]:
pip install --upgrade pip

Requirement already satisfied: pip in /home/gabriel/anaconda3/lib/python3.8/site-packages (23.3.1)
DEPRECATION: pyodbc 4.0.0-unsupported has a non-standard version number. pip 24.0 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pyodbc or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063
Note: you may need to restart the kernel to use updated packages.

In [8]:

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import tr

ImportError: cannot import name 'tr' from 'sklearn' (/home/gabriel/anaconda3/lib/python3.8/site-packages/sklearn/__init__.py)

In [5]:
from functions import *

ModuleNotFoundError: No module named 'graphviz'

In [25]:
!pip install functions.py

ERROR: Could not find a version that satisfies the requirement functions.py (from versions: none)
ERROR: No matching distribution found for functions.py

[notice] A new release of pip available: 22.2.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip

In [ ]:
##DEFINE THE TASK
Use life expectancy and long-term unemployment rate to predict the perceived happiness (low or high) of inhabitants of a country.

### 2. Acquire Clean Data##
##Letâ€™s load the data from the CSV file using pandas:##

In [5]:
dataset=pd.read_csv("world_data_really_tiny.csv")

In [ ]:
##understand the data
## i) Inspect the Data

In [6]:
dataset.head(12)

         country  lifeexp  unemployment happiness
0        Albania     77.6          6.09       Low
1       Bulgaria     75.0          3.24       Low
2           Iran     75.8          2.11       Low
3        Ukraine     71.9          1.53       Low
4   South Africa     61.8          7.52       Low
5        Ukraine     71.9          1.53       Low
6        Austria     81.4          1.43      High
7        Croatia     77.3          5.53      High
8        Denmark     80.7          1.36      High
9         Serbia     75.7          4.96      High
10     Indonesia     71.4          1.26      High
11      Thailand     77.5          0.06      High

In [ ]:
##Look at the Data Shape

Confirm the number of rows and columns in the data:

In [7]:
dataset.shape

(12, 4)

In [ ]:
##Compute Descriptive Statistics

Computing the descriptive stats can be done in one function call:

In [8]:
dataset.describe()

         lifeexp  unemployment
count  12.000000     12.000000
mean   74.833333      3.051667
std     5.213328      2.377664
min    61.800000      0.060000
25%    71.900000      1.412500
50%    75.750000      1.820000
75%    77.525000      5.102500
max    81.400000      7.520000

In [ ]:
###ii. Visualize the Data

Use the  histPlotAll()  function from functions.py to plot a histogram for each numeric feature:

NameError: name 'x' is not defined

In [12]:
# View univariate box plots
boxPlotAll(dataset)

NameError: name 'boxPlotAll' is not defined

In [ ]:
##4. Prepare the Data for Supervised Machine Learning
##build model
##i. Split Into Training and Test Sets

Use the  train_test_split()  function in sklearn to split the sample set into a training set, which we will use to train the model, and a test set, to evaluate the model:

In [5]:
# Split into test and training sets
test_size = 0.33
seed = 7
X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size=test_size, random_state=seed)

NameError: name 'X' is not defined